<div class="page-header">
  <h1>Edit Actor #<%= @actor.id %></h1>
</div>


<form action="/update_actor/<%= @actor.id %>">
  <div>
    <label for="name">
      Name
    </label>

    <input id="name" type="text" name="name" value="<%= @actor.name %>">
  </div>

  <div>
    <label for="dob">
      Dob
    </label>

    <input id="Dob" type="text" name="dob" value="<%= @actor.dob %>">
  </div>

  <div>
    <label for="bio">
      Bio
    </label>

    <!--<input id="bio" type="text" name="bio" value="<%= @actor.bio %>">-->
    <textarea id="bio" name="bio" ><%= @actor.bio %></textarea>

  </div>
 
 
  <div>
    <label for="image_url">
      Image url
    </label>

    <input id="image_url" type="text" name="image_url" value="<%= @actor.image_url %>">
  </div>
 
  <button>
    Update actor
  </button>
</form>


