<div class="page-header">
  <h1>Actors</h1>
</div>

<a href="/actors/new_form"> Add a new actor </a>

<% @actors.each do |actor| %>

        <h2><%= actor.name %></h2>
        <p><%=actor.bio %></p>
        <p><%= actor.dob %></p>
        <p><%= actor.image_url %></p>

      <a href="/actors/<%= actor.id %>" class="btn btn-default btn-block">
        Show details
      </a>

      <a href="/actors/<%= actor.id %>/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_actor/<%= actor.id %>" class="btn btn-default btn-block">
        Delete
      </a>


<% end %>