<div class="page-header">
  <h1>Edit Movie #<%= @movie.id %></h1>
</div>

<form action="/update_movie/<%= @movie.id %>">
  <div>
    <label for="title">
      Title
    </label>

    <input id="title" type="text" name="title" value="<%= @movie.title %>">
  </div>

  <div>
    <label for="duration">
      Duration
    </label>

    <input id="duration" type="text" name="duration" value="<%= @movie.duration %>">
  </div>

  <div>
    <label for="description">
      Description
    </label>

    <input id="description" type="text" name="description" value="<%= @movie.description %>">
  </div>
 
 
  <div>
    <label for="image_url">
      Image URL
    </label>

    <input id="image_url" type="text" name="image_url" value="<%= @movie.image_url %>">
  </div>
 
  <button>
    Update movie
  </button>
</form>