<div class="page-header">
  <h1>Movie #<%= @movie.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @movie.title %></dd>

  <dt>Duration</dt>
  <dd><%= @movie.duration %></dd>

  <dt>Description</dt>
  <dd><%= @movie.description %></dd>
  
  <dt>Year</dt>
  <dd><%= @movie.year %></dd>

  <dt>Image</dt>
  <dd><%= @movie.image_url %></dd>

  <a href="/delete_movie/<%= @movie.id %>"> Delete movie </a>

  <a href="/edit/<%= @movie.id %>"> Edit movie </a>

</dl>
