<div class="page-header">
  <h1>Edit Director #<%= @director.id %></h1>
</div>

<form action="/update_director/<%= @director.id %>">
  <div>
    <label for="name">
      Name
    </label>

    <input id="name" type="text" name="name" value="<%= @director.name %>">
  </div>

  <div>
    <label for="Dob">
      Dob
    </label>

    <input id="dob" type="text" name="dob" value="<%= @director.dob %>">
  </div>

  <div>
    <label for="bio">
      Bio
    </label>

    <input id="bio" type="text" name="bio" value="<%= @director.bio %>">
  </div>
 
 
  <div>
    <label for="image_url">
      Image URL
    </label>

    <input id="image_url" type="text" name="image_url" value="<%= @director.image_url %>">
  </div>
 
  <button>
    Update director
  </button>
</form>