<div class="page-header">
  <h1>Directors</h1>
</div>

<a href="/directors/new_form"> Add a New Director </a>


<% @directors.each do |director| %>

        <h2><%= director.name %></h2>
        <p><%= director.dob %></p>
        <p><%= director.image_url %></p>

      <a href="/directors/<%= director.id %>" class="btn btn-default btn-block">
        Show details
      </a>

      <a href="/directors/<%= director.id %>/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_director/<%= director.id %>" class="btn btn-default btn-block">
        Delete
      </a>


<% end %>